<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/pagesColoring.css" /> 
</head>
	<body>
		<form action="logmein.php" method="Post">
			<table align=center>
				<tr>
					<td>
						<h1>
							{$title}
						</h1>
					</td>
				</tr>
				<tr>
					<td>
						<p>
							{$message}
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<td>
							<td>
								<td>
									<input type="submit" name="logout" value={$title}>
								</td>
							</td>
						</td>
					</td>
				<tr/>
				
			</table>
		</form>
	</body>
</html>